// :root {
//     line-height: 1.5;
//     font-weight: 400;
//     font-size: 16px;
//     text-rendering: optimizeLegibility;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
// /////////////////////////////
// // => Global Fonts
// @font-face {
//   font-family: HindGuntur;
//   src: url(../fonts/HindGuntur-Regular.ttf);
//   font-weight: 400;
// }
// @font-face {
//   font-family: HindGuntur;
//   src: url(../fonts/HindGuntur-Medium.ttf);
//   font-weight: 500;
// }
// @font-face {
//     font-family: Inter;
//     src: url(../fonts/Inter-Regular.ttf);
//     font-weight: 400;
//   }
// @font-face {
//     font-family: Inter;
//     src: url(../fonts/Inter-Medium.ttf);
//     font-weight: 500;
// }
// @font-face {
//     font-family: Inter;
//     src: url(../fonts/Inter-SemiBold.ttf);
//     font-weight: 600;
// }
// @font-face {
//     font-family: Inter;
//     src: url(../fonts/Inter-Bold.ttf);
//     font-weight: 700;
// }
// html {
// 	scroll-behavior: smooth;
// }
/////////////////////////////
// => container and media query
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 430px) {
  .container {
    max-width: 390px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 565px) {
  .container {
    max-width: 540px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 920px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1490px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1805px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
/////////////
$primary-color: #007bff;
$secondary-color: #6c757d;

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: $secondary-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

.swiper-card {
  width: 100%;
  height: 100%;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__disc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;

    h3 {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 1.5rem;
    }
    p {
    }
  }
}

.swiper-container__first {
  width: 100%;
  height: 400px;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  .swiper-slide-prev {
  }
  .swiper-slide-active {
  }
  .swiper-slide-next {
  }

  .swiper-button-next,
  .swiper-button-prev {
    // color: #000;
  }

  .swiper-pagination {
    bottom: 10px !important;
  }
}
