.anma-slider {
  padding: 70px;
}
.anma-slider h1 {
  margin-bottom: 30px;
  color: #333;
  line-height: 48px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.swiper-container__anma {
  padding-top: 48px;
  padding-bottom: 108px;
  position: relative;
}
.swiper-container__anma .swiper-wrapper {
  position: relative;
}
.swiper-container__anma .anma-card {
  border: 10px solid #e9ebf8;
  border-radius: 10px;
  position: relative;
  width: 100%;
  aspect-ratio: 0.86;
  transition: all 0.3s ease-in-out;
}
.swiper-container__anma .anma-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.swiper-container__anma .anma-card-img-last {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.swiper-container__anma .anma-card-disc {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5019607843);
}
.swiper-container__anma .anma-card:hover {
  border: 1px solid transparent;
}
.swiper-container__anma .anma-card:hover img:first-of-type {
  opacity: 0;
}
.swiper-container__anma .anma-card:hover img:last-of-type {
  opacity: 1;
  border-radius: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(100% - 48px) !important;
  z-index: 999;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #000;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4688 7.88281L9.28125 13.7891C8.92969 14.1055 8.40234 14.1055 8.08594 13.7539C7.76953 13.4023 7.76953 12.875 8.12109 12.5586L12.7969 8.09375H0.84375C0.351562 8.09375 0 7.74219 0 7.25C0 6.79297 0.351562 6.40625 0.84375 6.40625H12.7969L8.12109 1.97656C7.76953 1.66016 7.76953 1.09766 8.08594 0.78125C8.40234 0.429688 8.96484 0.429688 9.28125 0.746094L15.4688 6.65234C15.6445 6.82812 15.75 7.03906 15.75 7.25C15.75 7.49609 15.6445 7.70703 15.4688 7.88281Z' fill='%23333333'/%3E%3C/svg%3E%0A");
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4688 7.88281L9.28125 13.7891C8.92969 14.1055 8.40234 14.1055 8.08594 13.7539C7.76953 13.4023 7.76953 12.875 8.12109 12.5586L12.7969 8.09375H0.84375C0.351562 8.09375 0 7.74219 0 7.25C0 6.79297 0.351562 6.40625 0.84375 6.40625H12.7969L8.12109 1.97656C7.76953 1.66016 7.76953 1.09766 8.08594 0.78125C8.40234 0.429688 8.96484 0.429688 9.28125 0.746094L15.4688 6.65234C15.6445 6.82812 15.75 7.03906 15.75 7.25C15.75 7.49609 15.6445 7.70703 15.4688 7.88281Z' fill='%23FF7147'/%3E%3C/svg%3E%0A");
  border: 1px solid #f0583b;
}

.swiper-button-prev {
  transform: rotate(180deg);
  left: calc(49% - 60px);
}

.swiper-button-next {
  left: 51%;
}
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 430px) {
  .container {
    max-width: 390px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 565px) {
  .container {
    max-width: 540px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 920px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1490px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1805px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #6c757d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(0, 98.4, 204);
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

.swiper-card {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-card__image {
  width: 100%;
  height: 100%;
}
.swiper-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-card__disc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}
.swiper-card__disc h3 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.swiper-container__first {
  width: 100%;
  height: 400px;
}
.swiper-container__first .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.swiper-container__first .swiper-pagination {
  bottom: 10px !important;
}

.program-slider-title {
  padding-top: 49px;
  padding-bottom: 49px;
}
.program-slider-title h1 {
  font-size: 40px;
  line-height: 48px;
}
.program-slider-title p {
  color: #09273b;
  line-height: 34px;
  font-size: 25px;
}

.swiper-anma-programs {
  padding-bottom: 64px;
}
.swiper-anma-programs .swiper-wrapper {
  margin-bottom: 24px;
}

.program-card {
  height: unset;
  color: white;
  border-radius: 32px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.program-card:hover .program-card__details {
  transform: translateY(0);
}
.program-card:hover .program-card__img {
  transform: scale(1.1) translateY(-40px);
}
.program-card:hover .program-card__details button {
  visibility: visible;
  opacity: 1;
}
.program-card__img {
  width: 100%;
  aspect-ratio: 0.76;
  transition: all 0.3s ease-in-out;
}
.program-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}
.program-card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  background-color: #00a9a9;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-top: -185px;
  transform: translateY(75px);
  transition: all 0.3s ease-in-out;
}
.program-card__details h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
}
.program-card__details p {
  line-height: 22px;
  margin-bottom: 20px;
}
.program-card__details button {
  border: 1px solid white;
  padding: 14px 20px;
  border-radius: 30px;
  font-weight: 500;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.program-card__details-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -40px;
}
.program-card__details-icon img {
  flex-shrink: 0;
}

.robox-swiper__card {
  display: flex;
  gap: 32px;
}
.robox-swiper__media {
  width: 65%;
  padding-right: 48px;
  padding-bottom: 48px;
  aspect-ratio: 1.6;
  position: relative;
}
.robox-swiper__background {
  border-radius: 25px;
  width: 100%;
  aspect-ratio: 1.6;
  position: relative;
  background-color: #2e3f93;
}
.robox-swiper__image {
  width: 100%;
  left: 48px;
  top: 48px;
  position: absolute;
}
.robox-swiper__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.robox-swiper__disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.robox-swiper__disc h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.robox-swiper__disc p {
  line-height: 22px;
  margin-bottom: 24px;
}
.robox-swiper__disc a {
  display: flex;
  font-size: 20px;
  width: fit-content;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 32px;
  background-color: white;
  color: #00a9a9;
  font-weight: 500;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.robox-swiper__pagination {
  position: static;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* Track */
  /* Handle */
}
.robox-swiper__pagination::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.robox-swiper__pagination::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.robox-swiper__pagination::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #115e78, #17717a);
  height: 0;
  width: 0;
}
.robox-swiper__pagination .swiper-pagination-bullet {
  width: unset !important;
  height: unset !important;
  padding: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(170, 242, 250, 0.1019607843);
  opacity: 1;
}
.robox-swiper__pagination .swiper-pagination-bullet-active {
  background-color: #aaf2fa;
}

.testimonials {
  background-color: #2c3e50;
  height: 150vh;
}

.testimonials-swiper {
  width: 1100px;
  padding: 100px 10px;
}
.testimonials-swiper .swiper-wrapper {
  margin-bottom: 60px;
}
.testimonials-swiper .swiper-pagination-bullet {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background: #e5e7eb;
  opacity: 1;
  transition: all 0.3s ease;
  border: 3px solid #2c3e50;
  filter: blur(1px);
  margin: 0 !important;
}
.testimonials-swiper .swiper-pagination-bullet-active, .testimonials-swiper .swiper-pagination-bullet:hover {
  border-bottom-color: #1894ff;
  filter: blur(0px);
}
.testimonials-swiper .swiper-slide {
  transition: all 0.3s ease-in-out !important;
}
.testimonials-swiper .swiper-slide-active {
  transform: scale(1.1) !important;
  transition: all 0.3s ease-in-out !important;
}
.testimonials-swiper .swiper-slide-active .testimonials-image img {
  border-bottom-color: #1894ff;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination .swiper-pagination-bullet-active,
.swiper-pagination .swiper-pagination-bullet:hover {
  border-bottom-color: #1894ff;
  filter: blur(0px);
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-nav-pag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  width: 100%;
  margin-top: 35px;
  bottom: 0 !important;
}
.swiper-nav-pag .swiper-button-prev,
.swiper-nav-pag .swiper-button-next {
  position: unset !important;
  width: 65px;
  height: 65px;
  line-height: 65px;
  font-size: 45px;
  border: 4px solid #2c3e50;
  background: #3a4a5d;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #000;
  flex-shrink: 0;
  margin: 0 !important;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 25px 1px #1b2838;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="9" height="18" viewBox="0 0 9 18" fill="none"%3E%3Cpath d="M0.910097 17.67C0.720097 17.67 0.530098 17.6 0.380098 17.45C0.0900977 17.16 0.0900977 16.68 0.380098 16.39L6.9001 9.87002C7.3801 9.39002 7.3801 8.61002 6.9001 8.13002L0.380098 1.61002C0.0900977 1.32002 0.0900977 0.84002 0.380098 0.55002C0.670098 0.26002 1.1501 0.26002 1.4401 0.55002L7.9601 7.07002C8.4701 7.58002 8.7601 8.27002 8.7601 9.00002C8.7601 9.73002 8.4801 10.42 7.9601 10.93L1.4401 17.45C1.2901 17.59 1.1001 17.67 0.910097 17.67Z" fill="white"/%3E%3C/svg%3E');
}
.swiper-nav-pag .swiper-pagination {
  display: flex;
  width: unset;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: unset !important;
}
.testimonials-card {
  background-color: #2c3e50;
  padding: 50px 20px 20px;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-top: 65px;
  margin-bottom: 20px;
  box-shadow: 0 0 25px 1px #1b2838;
}

.testimonials-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.testimonials-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #2c3e50;
}

.testimonials-person__data {
  text-align: center;
  padding: 15px 20px;
  border-bottom: 1px solid #3a4a5d;
  margin-bottom: 15px;
}
.testimonials-person__data h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 12px;
  font-weight: 600;
}
.testimonials-person__data p {
  font-size: 14px;
  color: #bbb;
}
.testimonials-person__desc {
  text-align: center;
  position: relative;
}
.testimonials-person__desc::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  left: 17.5px;
  top: 0;
  background-color: #1894ff;
}
.testimonials-person__desc span {
  display: block;
  padding-top: 8px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #1894ff;
  border-radius: 50%;
  font-size: 33px;
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: #1894ff;
}
.testimonials-person__desc span:last-child {
  background-color: #2c3e50;
  border-color: #1894ff;
}
.testimonials-person__desc p {
  padding-left: 35px;
  padding-right: 5px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-size: 14px;
}

.ourLatest-title {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.ourLatest-title h1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}

.ourLatest-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.ourLatest-card__image {
  width: 100%;
  aspect-ratio: 1.333;
  margin-bottom: 20px;
  overflow: hidden;
}
.ourLatest-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
.ourLatest-card span {
  font-size: 14px;
  font-weight: 600;
  line-clamp: 2;
  line-height: 24px;
}
.ourLatest-card__disc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}
.ourLatest-card__disc h4 {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 4px;
}
.ourLatest-card p {
  font-size: 14px;
  line-height: 20px;
  line-clamp: 4;
}

.ourLatest-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 9999;
  margin-top: 48px;
  justify-content: end;
}
.ourLatest-nav .swiper-button-prev,
.ourLatest-nav .swiper-button-next {
  width: 48px;
  height: 48px;
  color: #17479e !important;
  border-radius: 50%;
  top: 0 !important;
  margin-top: 0 !important;
  position: relative;
  right: 0 !important;
  left: 0 !important;
  background-color: rgba(206, 219, 242, 0.5019607843);
  transition: all 0.3s ease-in-out;
}
.ourLatest-nav .swiper-button-prev:hover,
.ourLatest-nav .swiper-button-next:hover {
  background-color: #cedbf2;
}
.ourClients-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.ourClients-swiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
  height: auto;
}

.ourClients-card img {
  width: auto;
  max-width: unset;
  max-height: 60px;
  transition: all 0.3s linear;
}

.tdf-hero-swiper {
  width: 100%;
  aspect-ratio: 2.599;
  position: relative;
}
.tdf-hero-swiper .tdf-hero-card {
  display: flex;
  align-items: center;
  height: 100%;
}
.tdf-hero-swiper .tdf-hero-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.tdf-hero-swiper .tdf-hero-card__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.tdf-hero-swiper .tdf-hero-card__background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tdf-hero-swiper .tdf-hero-card__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tdf-hero-swiper .tdf-hero-card__info h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 20px 0;
  color: #fff;
}
.tdf-hero-swiper .tdf-hero-card__info p {
  margin-bottom: 40px;
  color: #fff;
}
.tdf-hero-swiper .tdf-hero-card__info button {
  padding: 12px 16px;
  background-color: white;
  color: #333;
  border-radius: 16px;
}
.tdf-hero-swiper .tdf-hero-swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.tdf-hero-swiper .tdf-hero-swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #9da4ae;
  border-radius: 50%;
}
.tdf-hero-swiper .tdf-hero-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1b8354;
}

.ourServices-swiper {
  padding-bottom: 100px;
}
.ourServices-swiper .swiper-slide {
  width: 110px;
  height: 350px;
  transition: all 0.3s ease-in-out;
}
.ourServices-swiper .swiper-slide.active {
  width: 710px !important;
}
.ourServices-swiper .swiper-slide.active .ourServices-card {
  width: 100%;
  padding: 50px 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourServices-swiper .swiper-slide.active .ourServices-card .ourServices-card__content {
  align-items: start;
}
.ourServices-swiper .swiper-slide.active .ourServices-card .ourServices-card__content h3:first-of-type {
  display: block;
}
.ourServices-swiper .swiper-slide.active .ourServices-card .ourServices-card__content h3:nth-of-type(2) {
  display: none;
}
.ourServices-swiper .swiper-slide.active .ourServices-card .ourServices-card__content div:first-of-type {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.25s;
}
.ourServices-swiper .ourServices-card {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 16px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ourServices-swiper .ourServices-card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.25s;
  position: relative;
}
.ourServices-swiper .ourServices-card__content h3:first-of-type {
  display: none;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #f7f7f7;
  white-space: nowrap;
}
.ourServices-swiper .ourServices-card__content h3:nth-of-type(2) {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 18px;
  font-weight: 700;
  color: #f7f7f7;
  z-index: 2;
  white-space: nowrap;
}
.ourServices-swiper .ourServices-card__content div:first-of-type {
  position: relative;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}
.ourServices-swiper .ourServices-card__content div:first-of-type p {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 1.5;
  color: #f7f7f7;
}
.ourServices-swiper .ourServices-card__content div:first-of-type a {
  padding: 12px 18px;
  background-color: #17479e;
  border-radius: 8px;
  border: 2px solid #6889c3;
  color: #f7f7f7;
  font-weight: 600;
  width: fit-content;
}
.ourServices-swiper .ourServices-card__first {
  background-image: url(../images/our-services/e-services-banner.jpg);
}
.ourServices-swiper .ourServices-card__second {
  background-image: url(../images/our-services/digital-infrastucture-banner.jpg);
}
.ourServices-swiper .ourServices-card__third {
  background-image: url(../images/our-services/digital-infrastucture-banner.jpg);
}
.ourServices-swiper .ourServices-card__fourth {
  background-image: url(../images/our-services/mobility-solutions-banner.jpg);
}
.ourServices-swiper .ourServices-card__fifth {
  background-image: url(../images/our-services/quality-control-banner.jpg);
}

/*# sourceMappingURL=main.css.map */
